<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
    <div class="alert alert-success" {{#if noMessage}}hidden{{/if}}>
      {{ successMsg }}
    </div>
  </div>
</div>
<div class="container-products">
  {{# each products }}
  {{# each this }}
  <div class="item">
    <div class="thumbnail">
      <a href="/product/{{this._id}}">
        <img src="{{this.imagePath}}" alt="watch" class="img-responsive">
      </a>
      <div class="caption">
        <a href="/product/{{this._id}}">{{this.name}}</a>
        <p>
          <span class="price">
            ${{this.price}}
          </span>
        </p>
      </div>
    </div>
  </div>
  {{/each}}
  {{/each}}
</div>
